<!DOCTYPE html>
<html>

<head>
    <title>Sign Language Data Capture</title>
    <script src="/static/script.js"></script>
</head>

<body>
    <h2>Sign Language Glove Data Capture</h2>
    <div id="buttons">
        <button onclick="capture('A')">Capture A</button>
        <button onclick="capture('B')">Capture B</button>
        <button onclick="capture('C')">Capture C</button>
        <button onclick="capture('D')">Capture D</button>
        <button onclick="capture('E')">Capture E</button>
        <button onclick="capture('V')">Capture V</button>
        <button onclick="capture('X')">Capture X</button>
        <button onclick="capture('W')">Capture W</button>
        <button onclick="capture('YES')">Capture YES</button>
        <button onclick="capture('I AM')">Capture I AM</button>
        <button onclick="capture('FINE')">Capture FINE</button>
        <button onclick="capture('RESTING')">Capture RESTING</button>
        <button onclick="capture('FIST')">Capture FIST</button>
    </div>

    <div id="output">
        <h3>Average Values</h3>
        <pre id="avgDisplay">---</pre>
        <h3>Raw Samples</h3>
        <pre id="samplesDisplay">---</pre>
    </div>
</body>

</html>
